/* =========================================================
 * Font Styles
 * ========================================================= */
/* =========================================================
 * Margins Styles
 * ========================================================= */
/* =========================================================
 * General Styles
 * ========================================================= */
body, body.body-white {
  font: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 200;
  color: #594A41;
  line-height: 150%;
  font-size: 11pt;
  background-color: #F1F1F1;
  letter-spacing: 1px; }

body.body-white {
  background-color: #FFFFFF; }

a.no-highlight {
  text-decoration: none;
  color: #594A41; }

a.no-highlight:hover {
  color: #FFFFFF; }

a.text-highlight {
  text-decoration: none;
  color: #594A41; }

a.text-highlight:hover {
  text-decoration: none;
  color: #CDC8BE; }

/* =========================================================
 * Color Styles
 * ========================================================= */
.text-green {
  color: #8CC646; }

.text-blue {
  color: #00A8DE; }

/* =========================================================
 * Navigation Styles
 * ========================================================= */
.navbar-default .navbar-nav > li > a {
  color: #594A41;
  font-weight: 200;
  font-size: 8pt;
  text-shadow: none; }

.navbar-default .navbar-nav > li > a:hover {
  color: #999;
  text-shadow: none; }

.navbar-default {
  background-color: #FFFFFF;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
  background-image: none;
  border-color: none; }

.nav-top-position {
  float: right; }

.navbar-default .navbar-toggle {
  border-color: #FFFFFF; }

.logo-top {
  margin-top: -15px; }

/* =========================================================
 * Landing Image Styles
 * ========================================================= */
.container.landing-page {
  width: 100%;
  background-color: #C2B49A; }

h2.landing-header, p.landing-text, p.about-text, p.workexp-text, p.projects-text, h2.about-header, h2.workexp-header, h2.projects-header {
  margin-top: 125px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  color: #FFFFFF; }

p.landing-text, p.about-text, p.workexp-text, p.projects-text {
  margin-top: 2%; }

img.img-vector-desk {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 75px; }

.vector-desk {
  margin-top: -130px;
  background-color: #594A41;
  width: 100%;
  height: 150px; }

/* =========================================================
 * About Page Styles
 * ========================================================= */
.header-title-container {
  background-color: #CDC8BE;
  padding-top: 100px;
  padding-bottom: 100px; }

.article-space {
  margin-top: 75px;
  margin-bottom: 0px; }

.about {
  width: 100%;
  background-color: #FFFFFF; }

.container.about, .container.workexp, .container.projects {
  width: 100%;
  padding-bottom: 50px; }

h2.about-header, h2.workexp-header, h2.projects-header {
  margin-top: 0px;
  color: #594A41; }

p.about-text, p.workexp-text, p.projects-text {
  color: #594A41;
  width: 50%; }

p.smaller-text {
  font-size: 8pt; }

.about-info-button {
  width: 175px;
  height: 50px;
  background-color: #00AFAC;
  margin: 0 auto;
  right: 0;
  left: 0;
  margin-top: -25px;
  vertical-align: middle;
  text-align: center;
  color: #FFFFFF;
  font-size: 16pt;
  padding: 13px; }

.about-info-button:hover {
  background-color: #008780;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  cursor: pointer; }

.about-info-button-back {
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-bottom: 0px solid transparent;
  border-right: 20px solid #008780;
  margin: 0 auto;
  margin-top: -35px;
  padding-left: 0px;
  margin-left: -33px;
  display: block; }

ul.skill-list {
  list-style-type: none; }

.skill-list-row {
  padding-top: 30px; }

.article-skills {
  padding-top: 50px;
  padding-right: 15px;
  padding-bottom: 50px;
  padding-left: 15px;
  background-color: #FFFFFF; }

/* =========================================================
 * ShowCase Styles
 * ========================================================= */
.col-spacer {
  margin-left: 1%;
  margin-right: 1%; }

.work-exp-spacer {
  width: 25%; }

div.showcase-space {
  width: 20px; }

.arrow-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #00A8DE;
  margin-left: auto;
  margin-right: auto; }

.white-box-showcase {
  padding: 20px;
  background-color: #FFFFFF;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
  border-radius: 0.3em; }

img.img-showcase {
  opacity: 1; }

img.img-showcase:hover {
  opacity: 0.3;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

p.text-top-showcase {
  padding-top: 30px; }

p.text-bottom-showcase {
  font-size: 8pt;
  font-style: italic; }

a.box-showcase-link {
  color: #594A41; }

a.box-showcase-link:hover {
  color: #00A8DE;
  text-decoration: none; }

/* =========================================================
 * Work Experience Styles
 * ========================================================= */
div.img-background-break-workexp, .img-background-break-workexp-page, div.img-background-break-projects, .img-background-break-projects-page, .img-background-break-about-page {
  background-color: #8CC646;
  /* background-image:url('http://st.gdefon.com/wallpapers_original/wallpapers/275450_kasseta_-svetlyj-fon_-minimal_1920x1080_(www.GdeFon.ru).jpg'); */
  opacity: 0.99;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  right: 0;
  margin: 0px;
  padding-top: 50px;
  padding-bottom: 50px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -moz-box-shadow: inset 0 0 5px #7F8C8D;
  -webkit-box-shadow: inset 0 0 5px #7F8C8D;
  box-shadow: inset 0 0 5px #7F8C8D; }

.container.workexp, .container.projects {
  margin-top: -25px;
  background-color: #F1F1F1 !important; }

h2.workexp-header {
  color: #FFFFFF; }

p.workexp-text {
  width: 50%;
  color: #FFFFFF; }

.workexp-triangle, .projects-triangle, .about-triangle, .contact-triangle {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 25px solid #8CC646;
  margin: 0 auto;
  margin-top: -5px;
  opacity: 0.99;
  display: block; }

#workexp {
  padding-top: 50px; }

/* =========================================================
 * Work Experience Page Styles
 * ========================================================= */
.workexp-header-page {
  color: #FFFFFF; }

.img-background-break-workexp-page {
  padding-top: 60px;
  padding-bottom: 30px; }

/* =========================================================
 * Project Styles
 * ========================================================= */
div.img-background-break-projects, .img-background-break-projects-page, .img-background-break-about-page {
  background-color: #0072BB;
  -moz-box-shadow: inset 0 0 5px #7F8C8D;
  -webkit-box-shadow: inset 0 0 5px #7F8C8D;
  box-shadow: inset 0 0 5px #7F8C8D; }

.container.projects {
  padding-bottom: 100px; }

h2.projects-header {
  color: #FFFFFF; }

p.projects-text {
  width: 50%;
  color: #FFFFFF; }

.projects-article-bottom-space {
  margin-top: 2%;
  margin-bottom: 0px; }

.projects-triangle {
  border-top: 25px solid #0072BB; }

#projects {
  padding-top: 50px;
  background-color: #F1F1F1; }

/* =========================================================
 * Projects Page Styles
 * ========================================================= */
.projects-header-page {
  color: #FFFFFF; }

.img-background-break-projects-page {
  padding-top: 60px;
  padding-bottom: 30px; }

/* =========================================================
 * About Page Styles
 * ========================================================= */
.about-header-page {
  color: #FFFFFF; }

.img-background-break-about-page {
  background-color: #C2B49A;
  padding-top: 60px;
  padding-bottom: 30px; }

.about-triangle {
  border-top: 25px solid #C2B49A; }

/* =========================================================
 * Contact Styles
 * ========================================================= */
.contact-triangle {
  border-top: 25px solid #F1F1F1; }

.container.contact {
  background-color: #00AFAC;
  width: 100%;
  color: #FFFFFF; }

p.contact-text {
  color: #FFFFFF; }

.link-contact {
  color: #FFFFFF; }

.link-contact:hover {
  color: #000000;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

/* =========================================================
 * Footer Styles
 * ========================================================= */
footer.footer {
  background-color: #313435;
  padding: 5px;
  padding-top: 10px;
  color: #FFFFFF;
  font-size: 8pt; }

h2.contact-header {
  padding-top: 10px;
  padding-bottom: 12.5px; }

div.row-top-footer {
  margin-top: 100px; }

.row.row-footer {
  margin-top: 2%;
  margin-bottom: 2%; }

/* =========================================================
 * Child Styles
 * ========================================================= */
.project-img {
  padding: 2px; }

.left-col {
  /* 	padding-right:50px;
 	padding-left:0px;*/ }

.container.blackberry-article, .container.about-article, .container.workexp-article {
  padding-top: 50px;
  padding-bottom: 50px; }

.project-img {
  padding: 2px; }

/* =========================================================
 * Carousel Styles
 * ========================================================= */
.carousel {
  min-height: 900px; }

.carousel-control.right {
  background-image: none !important;
  width: 50px; }

.carousel-control.left {
  background-image: none !important;
  width: 50px; }

.carousel-control {
  color: #594A41;
  box-shadow: none; }

.carousel-control:hover {
  color: #DA2028;
  box-shadow: none; }

.carousel-inner {
  overflow: visible;
  height: 100%; }

.article-carousel {
  padding-left: 0;
  padding-right: 0; }

/* =========================================================
 * Workexp Page Styles
 * ========================================================= */
.article-workexp {
  width: 100%;
  height: 100%; }
  .article-workexp .article-workexp-header {
    text-align: center;
    width: 70%;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 75px; }
  .article-workexp .article-workexp-position {
    padding-top: 75px;
    padding-right: 15px;
    padding-bottom: 75px;
    padding-left: 15px;
    background-color: #F1F1F1;
    min-height: 650px; }
