/* Extra small devices (phones, 768px and below) */
@media (max-width:768px) {

	.nav-top-position{
		float:none;
	}
	
	.vector-desk {
		margin-top:-90px;
		height:110px;
	}
	
	p.landing-text, p.about-text, p.workexp-text, p.projects-text{
		width:100%;
		padding-right:10px;
		padding-left:10px;
	}

	h2.landing-header{
		margin-top:100px;
		width:100%;
	}
	
	h2.about-header, h2.workexp-header, h2.projects-header {
		margin-top:0px;
		width:100%;
	}

	.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
		padding-bottom:20px;
	}

	
}


/* Small devices (tablets, 992px and below) */
@media (max-width:992px) {

	img.img-vector-desk { 
		width: 100%; 
		height: auto; 
	}
	
	img.img-circle {
		width:50%;
		height:auto;
	}
	


}

/* Medium devices (desktops, 1200px and below) */
@media (max-width:1200px) {


}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {


}