/* =========================================================
 * Font Styles
 * ========================================================= */

$font-stack: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$p-font-size: 11pt;
$p-small-font-size: 8pt;
$p-line-height: 150%;

$font-bold: 700;
$font-regular: 400;
$font-light: 200;

$Turquoise: #00AFAC;
$Dark-Turquoise: #008780; 
$Green: #8CC646; 
$Dark-Green: #00A85C; 
$Blue: #00A8DE; 
$Dark-Blue: #0072BB; 
$Purple: #9A248E; 
$Dark-Purple: #4C3F99;
$Navy: #34495E; 
$Dark-Navy: #2C3E50; 
$Yellow: #FFE610; 
$Orange: #F68B28; 
$Red: #E21A51; 
$Dark-Red: #DA2028; 
$Pink: #E12990;
$Silver: #ECF0F1; 
$Dark-Silver: #BDC3C7; 
$Grey: #95A5A6; 
$Dark-Grey: #7F8C8D;  
$Light-Grey: #F1F1F1; 
$Beige: #C2B49A; 
$Dark-Beige: #594A41;
$Light-Beige: #CDC8BE;
$White: #FFFFFF; 
$Black: #000000;
$Black-Light: #313435;



/* =========================================================
 * Margins Styles
 * ========================================================= */
 
$top-landingPage-divider: 125px;
$top-container-divider: 100px;
$top-page-divider: 75px;
$bottom-container-article: 50px;
$carousel-page-divider: 50px;
$top-text-divider: 2%;
$top-article-divider: 75px;
$middle-article-divider:2%;
$bottom-article-divider:0px;

/* =========================================================
 * General Styles
 * ========================================================= */
 
 $boxShadow: 0 1px 2px rgba(0,0,0,0.07);
 $opacity: 0.99;
