@import 'variables';

body {
  	font: $font-stack;
  	font-weight: $font-light;
  	color: $Dark-Beige;
  	line-height: $p-line-height;
  	font-size: $p-font-size;
  	background-color:$Light-Grey;
  	letter-spacing:1px;
}

body.body-white{
	@extend body;
	background-color:$White;
}

a.no-highlight{
	text-decoration: none;
	color:$Dark-Beige;
}

a.no-highlight:hover{
	color:#FFFFFF;
}

a.text-highlight{
	text-decoration: none;
	color:$Dark-Beige;
}

a.text-highlight:hover{
	text-decoration: none;
	color:$Light-Beige;
}

/* =========================================================
 * Color Styles
 * ========================================================= */

 .text-green{
	color:$Green;
 }

 .text-blue{
 	color:$Blue;	
 }


/* =========================================================
 * Navigation Styles
 * ========================================================= */
 
 
.navbar-default .navbar-nav>li>a{
 	color: $Dark-Beige;
 	font-weight:$font-light;
 	font-size: $p-small-font-size;
 	text-shadow:none;
 }
 
.navbar-default .navbar-nav>li>a:hover{
 	color: #999;
 	text-shadow:none;
 }

.navbar-default {
	background-color: $White;
	box-shadow: $boxShadow;
	background-image:none;
	border-color: none;
}

.nav-top-position{
	float:right;
}

.navbar-default .navbar-toggle {
	border-color: $White;
}

.logo-top{
	margin-top:-15px;
}

/* =========================================================
 * Landing Image Styles
 * ========================================================= */
 
.container.landing-page {
	width:100%;
	background-color: $Beige;
}

h2.landing-header {
	margin-top: $top-landingPage-divider;
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:50%;
	color: $White;
}

p.landing-text {
	@extend h2.landing-header;
	margin-top: $top-text-divider;

}

img.img-vector-desk {
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-top: $top-article-divider;
}

.vector-desk {
	margin-top:-130px;
	background-color: $Dark-Beige;
	width:100%;
	height:150px;
}


/* =========================================================
 * About Page Styles
 * ========================================================= */

 .header-title-container{
	background-color:$Light-Beige;
	padding-top:$top-container-divider;
	padding-bottom:$top-container-divider;
 }

.article-space{
	margin-top: $top-article-divider;
	margin-bottom: $bottom-article-divider;
}

.about {
	width:100%;
	background-color:$White;
}

.container.about {
	width:100%;
	padding-bottom:$bottom-container-article;
}

h2.about-header {
	@extend h2.landing-header;
	margin-top:0px;
	color: $Dark-Beige;
}

p.about-text {
	@extend p.landing-text;
	color: $Dark-Beige;
	width:50%;
}

p.smaller-text{
	font-size: $p-small-font-size;
}

.about-article {
	@extend img.vector-desk-img;
}

.about-info-button{
	width: 175px;
	height:50px;
	background-color:$Turquoise;
	margin:0 auto;
	right:0;
	left:0;
	margin-top:-25px;
	vertical-align: middle;
	text-align: center;
	color:$White;
	font-size:16pt;
	padding:13px;
}

.about-info-button:hover{
	background-color:$Dark-Turquoise;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	cursor:pointer;


}

.about-info-button-back{
	width: 0; 
	height: 0; 
	border-top: 25px solid transparent;
	border-bottom: 0px solid transparent; 
	
	border-right:20px solid $Dark-Turquoise; 
	margin:0 auto;
	margin-top:-35px;
	padding-left:0px;
	margin-left:-33px;
	display:block;


}

ul.skill-list{
	list-style-type: none;
}

.skill-list-row{
	padding:{top:30px;};
}

.article-skills{
	padding:{top:50px;right:15px;bottom:50px;left:15px;};
	background-color:$White;
}


/* =========================================================
 * ShowCase Styles
 * ========================================================= */
 
.col-spacer{
	margin-left:1%;
	margin-right:1%;
}

.work-exp-spacer{
 	width:25%;
 }
 
div.showcase-space{
 	width:20px;
 }
 
.arrow-up {
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid $Blue;
	margin-left:auto;
	margin-right:auto;
}

.white-box-showcase:hover {
	
}

.white-box-showcase {
	padding:20px;
	background-color:$White;
	box-shadow: $boxShadow;
	border-radius:0.3em;
}

img.img-showcase{
	opacity:1;
}

img.img-showcase:hover{
	opacity:0.3;
	cursor:pointer;
	-webkit-transition: all 0.2s ease-in-out;
  	-moz-transition: all 0.2s ease-in-out;
  	-o-transition: all 0.2s ease-in-out;
  	transition: all 0.2s ease-in-out;
}

p.text-top-showcase{
	padding-top:30px;
}

p.text-bottom-showcase{
	font-size: $p-small-font-size;
	font-style:italic
}

a.box-showcase-link{
	color:$Dark-Beige;
}

a.box-showcase-link:hover{
	color:$Blue;
	text-decoration:none;
}


/* =========================================================
 * Work Experience Styles
 * ========================================================= */

 div.img-background-break-workexp{
	background-color:$Green;
	/* background-image:url('http://st.gdefon.com/wallpapers_original/wallpapers/275450_kasseta_-svetlyj-fon_-minimal_1920x1080_(www.GdeFon.ru).jpg'); */
	opacity:$opacity;
	background-attachment:fixed;
	height:100%;
	width:100%;
	background-repeat:no-repeat;
	top:0;
	left:0;
	right:0;
	margin:0px;
	padding-top:50px;
	padding-bottom:50px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size:cover;
   -moz-box-shadow:    inset 0 0 5px $Dark-Grey;
   -webkit-box-shadow: inset 0 0 5px $Dark-Grey;
   box-shadow:         inset 0 0 5px $Dark-Grey;

}
 
.container.workexp {
	@extend .container.about;
	margin-top:-25px;
	background-color:$Light-Grey !important;
}

h2.workexp-header{
	@extend h2.about-header;
	color:$White;
}

p.workexp-text {
	@extend p.about-text;
	width:50%;
	color:$White;
}

.workexp-article{
	@extend .about-article;
}

.workexp-triangle{
	width: 0; 
	height: 0; 
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 25px solid $Green;
	margin:0 auto;
	margin-top:-5px;
	opacity:$opacity;
	display:block;
}

#workexp{
	padding-top:50px;
}


/* =========================================================
 * Work Experience Page Styles
 * ========================================================= */


.workexp-header-page{
	color:$White;
}

.img-background-break-workexp-page{
	@extend  div.img-background-break-workexp;
	padding-top:60px;
	padding-bottom:30px;
}


/* =========================================================
 * Project Styles
 * ========================================================= */

 div.img-background-break-projects{
 	@extend  div.img-background-break-workexp;
	background-color:$Dark-Blue;
	-moz-box-shadow:    inset 0 0 5px $Dark-Grey;
   	-webkit-box-shadow: inset 0 0 5px $Dark-Grey;
   	box-shadow:         inset 0 0 5px $Dark-Grey;
}

.container.projects{

	@extend .container.workexp;
	padding-bottom:100px;
}
 
h2.projects-header{
	@extend h2.about-header;
	color:$White;
}

p.projects-text {
	@extend p.about-text;
	width:50%;
	color:$White;
}

.projects-article-bottom-space {
	margin-top: $middle-article-divider;
	margin-bottom: $bottom-article-divider;
}

.projects-triangle{
	@extend .workexp-triangle;
	border-top: 25px solid $Dark-Blue;
}

#projects{
	padding-top:50px;
	background-color:$Light-Grey;
}


/* =========================================================
 * Projects Page Styles
 * ========================================================= */


.projects-header-page{
	color:$White;
}

.img-background-break-projects-page{
	@extend  div.img-background-break-projects;
	padding-top:60px;
	padding-bottom:30px;
}

/* =========================================================
 * About Page Styles
 * ========================================================= */


.about-header-page{
	color:$White;
}

.img-background-break-about-page{
	@extend  div.img-background-break-projects;
	background-color:$Beige;
	padding-top:60px;
	padding-bottom:30px;
}

.about-triangle{
	@extend .workexp-triangle;
	border-top: 25px solid $Beige;
}

 .container.about-article{
 	@extend  .container.blackberry-article;
 }

/* =========================================================
 * Contact Styles
 * ========================================================= */

.contact-triangle{
	@extend .workexp-triangle;
	border-top: 25px solid $Light-Grey;
}
 
.container.contact {
background-color: $Turquoise;
width:100%;
color:$White;
}

p.contact-text{
	color: $White;
}

.link-contact{
	color:$White;
}

.link-contact:hover{
	color:$Black;
	text-decoration: none;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
 
 
 /* =========================================================
 * Footer Styles
 * ========================================================= */
 
footer.footer {
 	background-color: $Black-Light;
	padding:5px;
	padding-top: 10px;
	color:$White;
	font-size:$p-small-font-size;
 }
 
h2.contact-header{
	padding-top:$top-container-divider / 10;
	padding-bottom:$top-container-divider / 8;
}

div.row-top-footer {
	margin-top: 100px;
}


.row.row-footer {
	margin-top: $middle-article-divider;
	margin-bottom: $middle-article-divider;
}


/* =========================================================
 * Child Styles
 * ========================================================= */
  
.project-img{
 	padding:2px;
 	
 }
 .left-col {
/* 	padding-right:50px;
 	padding-left:0px;*/
 }
 
 .container.blackberry-article {
 	padding-top: $carousel-page-divider;
 	padding-bottom: $carousel-page-divider;
 }
 
 .project-img{
 	padding:2px;
 }
 
 /* =========================================================
 * Carousel Styles
 * ========================================================= */

 .carousel{
 	min-height:900px;
 }
 
 .carousel-control.right{
 	background-image:none !important;
 	width:50px;
 }
 
.carousel-control.left{
 	background-image:none !important;
 	width:50px;
 }
 
.carousel-control{
 	color: $Dark-Beige;
 	box-shadow:none;
 }
 
  .carousel-control:hover{
 	color: $Dark-Red;
 	box-shadow:none;
 }
 
 .carousel-inner{
 	overflow:visible;
 	height:100%;
 }
 
 .article-carousel{
	padding-left:0;
	padding-right:0;
}


 /* =========================================================
 * Workexp Page Styles
 * ========================================================= */

.article-workexp{
	@extend article-header;
	width:100%;
	height:100%;

	.article-workexp-header{
		text-align:center;
		width:70%;
		left: 0;
		right: 0;
		margin: 0 auto;
		padding:{top:40px;bottom:75px;};
	}

	.article-workexp-position{
		padding:{top:75px;right:15px;bottom:75px;left:15px;};
		background-color:$Light-Grey;
		min-height: 650px;
	}

}

